#main {
    width: 100%;
    height: 100vh;

    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-size: 10vw;
    text-align: center;
    margin: 0;
}

.h1-100 {
    font-weight: 100;
}

.h1-200 {
    font-weight: 200;
}

.h1-300 {
    font-weight: 200;
}

.h1-400 {
    font-weight: 400;
}

.h1-500 {
    font-weight: 500;
    position: relative;
    top: 15px;
}

.h1-700 {
    font-weight: 700;
}

.h1-800 {
    font-weight: 800;
}

.h1-900 {
    font-weight: 900;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 400;
    
    letter-spacing: 10px;
    /*margin-top: 3em;*/
    margin-bottom: -0.25em;
    padding-left: 3em;
    padding-right: 3em;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.75;
    margin-bottom: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
}

h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75vw;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.75;
    margin-bottom: 2.5em;
    padding-left: 3em;
    padding-right: 3em;
}

name {
    font-family: 'Playfair Display', serif;
    font-size: 1.5vw;
    font-style: italic;
    color: greenyellow;
    text-transform: capitalize;
    letter-spacing: 0px;
}

sub {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: white;
    letter-spacing: 3px;
}

virtual {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    text-transform: lowercase;
    letter-spacing: 0px;
    color: lightgray;
}

email {
    letter-spacing: 0px;
}

hr {
    margin-top: 30px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1200px) {
    h1 {
        font-size: 15vw;
    }
    h3 {
        font-size: 3.5vw;
    }
    h5 {
        font-size: 2.5vw;
    }
    h6 {
        font-size: 2vw;
    }
    name {
        font-size: 3.5vw;
    }
    sub {
        font-size: 3.5vw;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 25.5vw;
    }
    h3 {
        font-size: 5vw;
    }
    h5 {
        font-size: 3.5vw;
    }
    h6 {
        font-size: 3vw;
    }
    name {
        font-size: 5vw;
    }
    sub {
        font-size: 5vw;
    }
}